.editor {
  width: 95%;
  margin: auto;
  padding-bottom: 10px;
  height: 55vh;
}

.modal {
  background-color: rgba(199, 205, 209, 0.812);
}

.title {
  width: 185px;
}

.language {
  width: 185px;
  height: 30px;
  font-size: 16px;
}

.comments {
  width: 185px;
}

.tags {
  width: 185px;
}

.header {
  font-size: 30px;
  color: white;
  background-color: rgb(255, 0, 128);
}

.codeSnippet {
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

.editor-container {
  display: flex;
}
