.activeTag {
  border: none;
  background-color: whitesmoke;
  color: black;
  border-radius: 10px;
}

.inactiveTag {
  border: 1pt solid whitesmoke;
  background-color: black;
  color: whitesmoke;
  border-radius: 10px;
}

.tagsListDisplay {
}
