// .sidebar {
//   height: 100%;
//   width: 400px;
//   position: absolute;
//   left: 0;
//   top: 0;
//   padding-top: 40;
//   border-style: solid;
//   border-color: black;
// }

.tagsSnippetsDisplayHolder {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 75vh;
}

.tagsSnippetsDisplayBox {
  padding: 8px 16px;
  overflow-y: auto;
  max-height: 50%;
}

.displayTypeSelector {
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 10px;
  width: 100%;
}

.displayTypeButtonActive {
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  color: whitesmoke !important;
  border: none;
  border-bottom: 1.5pt solid whitesmoke !important;
}

.displayTypeButtonInactive {
  background-color: transparent;
  box-shadow: none;
  width: 100%;
  color: rgb(124, 124, 124) !important;
  border: none !important;
}

.cardBodyContent {
  //height: min-content;
  overflow: hidden;
}
.sidebar {
  width: 300px;
  //height: inherit;
  //max-height: 75vh;
  position: absolute;
  left: -300px;
  top: 0;

  transition: 200ms ease-in;

  background-color: rgb(10, 25, 41);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .toggleButton {
    position: absolute;
    z-index: 20;
    right: -50px;
    top: 35px;
    transform: scale(0.5);
    background: none;
    border: none;

    .arrow {
      color: whitesmoke;
    }

    .arrowOpen {
      transform: scaleX(-1);
    }
  }

  .cardBody {
    padding: 8px 16px;
    overflow-y: auto;
    max-height: 75vh;
  }
}

.open {
  left: 0;
}

.snippetDisplay {
  position: relative;
  // z-index: -20;
  left: -250px;
  transition: 200ms ease-in;
  width: 100%;
}

.snippetDisplayOpen {
  left: 0;
  transition: 200ms ease-in;
  width: 100%;
}

.logo {
  height: 20%;
  width: 100%;
  border-style: solid;
  border-color: black;
  display: block;
}

// .tabs_display {
//   height: 40%;
//   width: 100%;
//   border-style: solid;
//   border-color: black;
// }

// .tab {
//   width: 100%;
//   padding: 8px;
//   font-size: 24px;
//   display: block;
//   border-style: solid;
//   border-color: black;
// }

.all_snippets {
}

.title {
}

.addButton {
  border: transparent;
  height: 50px;
  // padding-left: 7px;
  // padding-right: 7px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}

.img {
  width: 200px;
  height: 150px;
  margin-left: 15px;
  margin-top: -100px;
  border-radius: 15%;
}

.imgHeader {
  margin-bottom: 110px;
  margin-left: 3px;
  font-size: 21px;
}
