// .sidebar {
//   height: 100%;
//   width: 400px;
//   position: absolute;
//   left: 0;
//   top: 0;
//   padding-top: 40;
//   border-style: solid;
//   border-color: black;
// }

.sidebar {
  width: 300px;
  height: 100vh !important;
  position: absolute;
  left: -300px;
  top: 0;
  transition: 200ms ease-in;

  background-color: rgb(10, 25, 41);

  padding-top: 28px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .toggleButton {
    position: absolute;
    z-index: 20;
    right: -50px;
    top: 35px;
    transform: scale(0.5);
    background: none;
    border: none;

    .arrow {
    }

    .arrowOpen {
      transform: scaleX(-1);
    }
  }

  .cardBody {
  }
}

.open {
  left: 0;
}

.snippetDisplay {
  position: relative;
  // z-index: -20;
  left: -250px;
  transition: 200ms ease-in;
  background-color: rgb(255, 0, 128);
}

.snippetDisplayOpen {
  left: 0;
  transition: 200ms ease-in;
}

.logo {
  height: 20%;
  width: 100%;
  border-style: solid;
  border-color: black;
  display: block;
}

// .tabs_display {
//   height: 40%;
//   width: 100%;
//   border-style: solid;
//   border-color: black;
// }

// .tab {
//   width: 100%;
//   padding: 8px;
//   font-size: 24px;
//   display: block;
//   border-style: solid;
//   border-color: black;
// }

.all_snippets {
}

.title {
}

.addButton {
  border: transparent;
  height: 50px;
  width: 270px;
  // padding-left: 7px;
  // padding-right: 7px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  color: white;
}

.img {
  width: 150px;
  height: 100px;
  margin-left: 15px;
  margin-top: -100px;
  border-radius: 15%;
}

.img:active {
  transform: scale(0.93);
}

.imgHeader {
  margin-bottom: 100px;
  margin-left: 3px;
  font-size: 21px;
}
