// colors
$primary: #2C3333;
$secondary: #395B64;
$tertiary: #A5C9CA;

$button: #2C3333;
$button--light: #A5C9CA;

$border-dark: #2C3333;
$border-light: #A5C9CA;

$text--primary: #606F7B;
$text--light: #F1F5F8;
$text--important: #22292F;